.card {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 350px;
    margin: 20px;

    
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    background-color: pink;
    opacity: 0,3;
}

